<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Whos_that.Properties.Settings.dataConnectionString1"
            connectionString="Data Source=DESKTOP-4ML5TBD\SQLEXPRESS;Initial Catalog=data;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="Whos_that.Properties.Settings.dataConnectionString"
            connectionString="Data Source=DESKTOP-DKETPGE\SQLEXPRESS01;Initial Catalog=data;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>